h3 {
	font-size: 30px;
	margin-left: 30px;
	letter-spacing: 3px;
}

.content-container ul > li {
	font-size: 20px;
	padding: 5px 0;
}

.content-container ul > li:hover {
	color: #874321;
	cursor: pointer;
}



