.character-pic { float: left; }

.character-content {
	float: left;
		margin: 20px;
		line-height: 150%;
		width: 600px;
		text-align: justify;
		letter-spacing: 2px;
}

.character-content h2 {
	text-align: center;
	color: #874321;
}