body {
	background-color: #303030;
	color: white;
	margin: 0px;
	font-family: 'Markazi Text', serif;
}

header  a {
	display: block;
	width: 100%;
	font-size: 60px;
	text-align: center;
	padding: 5px 0;
	letter-spacing: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

nav {
	width: 100%;
	height: 50px;
	background-color: #252525;
	text-transform: uppercase;
	text-align: center;
}

nav > ul {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav > ul > li {
	display: block;
	float: left;
}

nav > ul > li > a {
	display: block;
	width: 320px;
	height: 50px;
	text-decoration: none;
	color: white;
	line-height: 260%;
	letter-spacing: 2px;
	font-size: 20px;
}

nav > ul > li:hover > a {
	background-color: #763210;
}

nav > ul > li > ol {
	list-style-type: none;
	display: none;
	position: relative;
	background-color: #874321;
	padding: 0;
	margin: 0;
}

nav > ul > li > ol > li > a {
	display: block;
	height: 35px;
	text-decoration: none;
	color: white;
	letter-spacing: 2px;
	font-size: 18px;
	line-height: 200%;
}

nav > ul > li > ol > li:hover > a {
	background-color: #763210;
}

nav > ul > li:hover > ol {
	display: block;
	z-index: 100;
}

.container {
	width: 100%;
}

.side-nav {
	width: 340px;
	float: left;
	background-color: #272727;
	height: 480px;
	padding-left: 10px;
	overflow: scroll;
}

.side-nav::-webkit-scrollbar { width: 10px; }
.side-nav::-webkit-scrollbar-thumb { background-color: #874321; border-radius: 20px; }

.side-nav > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.side-nav > ul > li > h2 {
	display: block;
	height: 30px;
	margin: 0;
	padding: 20px 40px;
	line-height: 170%;
	color: white;
	font-size: 20px;
	border-bottom: 1px dashed #434343;
	border-top: 1px dashed #434343;
	cursor: pointer;
	position: relative;
}

.side-nav > ul > li > h2:hover  {
	background-color: #303030;
	color: #874321;
}

.side-nav >ul >li > ol {
	display: none;
	padding: 0px 50px;
}

.side-nav > ul > li > ol > li > a {
	display: block;
	height: 20px;
	padding: 10px 0px;
	text-decoration: none;
	color: white;
	font-size: 20px; 
	letter-spacing: 1px;
}

.side-nav > ul > li > ol > li > a:hover {
	color: #874321;
}

.content {
	width: 500px;
	height: 460px;
	float: left;
	position: relative;
}

.content #quote-content {
	position: absolute;
	left: 20px;
	top: 40px;
	padding-right: 20px;
	font-size: 40px;
	font-style: italic;
	text-align: justify;
}

.content #quote-owner {
	position: absolute;
	right: 20px;
	bottom: 50px;
	font-size: 30px;
	font-style: none;
}

#picture {
	position: relative;
	float: left;
	width: 499px;
	height: 460px;
}

#picture img {
	position: absolute;
	top: 0;
	right: 0;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #252525;
	text-align: center;
	padding: 10px 0;
	text-transform: none;
}